<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath:applicationContext/spring-*.xml"></import>
    <context:component-scan base-package="com.vsen.*"></context:component-scan>
<!--    <context:component-scan base-package="com.vsen.dao"></context:component-scan>-->
<!--    <context:component-scan base-package="com.vsen.service.impl"></context:component-scan>-->
<!--    <context:component-scan base-package="com.vsen.util"></context:component-scan>-->
<!--    <context:component-scan base-package="com.vsen.benchmark"></context:component-scan>-->
</beans>
